env
.ipynb_checkpoints
upgrade
*.orig
local_covid/
*.jupyterlab-workspace
scratch.ipynb
dsci591/data/covid/processed_data/merged_eda/sdf.pkl
dsci591/data/covid/d_ij.npy
dsci591/data/covid/county_tp.pickle
.idea
experiments/noah/logs
.vscode
*.workspace
experiments/avk/logs/
experiments/avk/data/

