matplotlib~=3.5.1
numpy~=1.22.2
pandas~=1.4.1
plotly
requests~=2.27.1
scipy~=1.8.0
seaborn
openpyxl~=3.0.9
tensorflow~=2.8.0
sklearn~=0.0
keras-hypetune
pydot
tqdm~=4.62.3
tensorboard~=2.8.0
scikit-learn~=1.0.2
keras